span {
  margin: 10px;
}
.itemsList-heading {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.item-container {
  height: 50px;
  margin-top: 1rem;
  padding: 0 1rem;
}
.item-details-container {
  box-shadow: 1px 1px 3px #888888;
  border-radius: 10px;
}
.item-details {
  display: flex;
  height: 50px;
  align-items: center;
}
.item-details > img {
  margin-right: 1rem;
}
.item-details > p {
  margin: 0px auto;
  align-items: center;
}
.remove {
  font-weight: 600;
  font-size: 1.2rem;
}
.total-amount-container {
  width: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #888888;
}
.total-amount {
  background-color: #888888;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.price-container {
  width: 100px;
}

.price {
  height: 50px;
  align-items: center;
}
.price div {
  padding: auto 0;
}

.input-group{
  max-width: 130px;
  margin-left: 2rem !important;
  margin-right: 1rem !important;
}